/* search-menu.component.css */

mat-card {
  margin: 20px;
  padding: 20px;
}

mat-form-field {
  margin-right: 10px;
}

table {
  width: 100%;
  margin-top: 20px;
}

td, th {
  padding: 10px;
  text-align: left;
}
