<div class="container">
  <div class="left-section" (click)="goToClientRegistration()">
    <h1 class="section-title">Want top quality services from professionals, register as a client!</h1>
    <button mat-raised-button color="primary" (click)="goToClientRegistration()">Register as Client</button>
  </div>

  <div class="right-section" (click)="goToAgencyRegistration()">
    <h1 class="section-title">You provide top quality services, register as an agency.</h1>
    <button mat-raised-button color="primary" (click)="goToAgencyRegistration()">Register as Agency</button>
  </div>
</div>
