.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
}

.canvas-container {
  width: 400px;
  height: 400px;
  background-color: #e0e0e0;
  margin-bottom: 16px;
  padding: 16px;
}

.content-container {
  flex-grow: 1;
  margin-right: 16px;
  padding: 16px;
}

.form-container {
  width: 300px;
  padding: 16px;
}

.job-details,
.assigned-workers {
  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
}
